.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.marquee-content, .marquee-content-reverse {
  display: inline-flex;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-content {
  animation-name: marquee-left;
}

.marquee-content-reverse {
  animation-name: marquee-right;
}

@keyframes marquee-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.marquee-image {
  width: 22rem;
  height: auto;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .marquee-image {
    width: 16rem;
    margin: 0 -1rem;
  }
}